#user-details {
    background-color: #fff;
    width: max-content;
    float: right;
    margin-right: 5%;
    padding: 2%;
    border-radius: 20px;
}

#user-image img {
    width: 150px;
    height: 150px;
}

#profile-tasks-table {
    width: 80%;
    margin: 50px auto;
}