#task-page .ant-layout-sider {
    display: flex;
}

#task-page section {
    background: none;
}

#task-main-content {
    width: calc(100% - 470px);
    margin-left: 5%;
}

#task-content {
    background-color: #fff;
    padding: 10px;
    margin: 20px 5% 30px 0;
    border-radius: 5px;
}

#task-content h1 {
    background-color: #3aa2f2;
    color: #fff;
}

#tasks-drawer-button {
    background-color: #e57200;
    color: #fff;
}

.link-task {
    border: solid 1px #778899;
    border-radius: 10px;
    width: max-content;
    padding: 7px;
    margin: 7px 7px 7px 0;
}

.link-task-search {
    width: 300px;
}

#link-task-input {
    display: inline-flex;
}

#confirm-cancel-link :first-child {
    margin: 0 7px;
}

.link-task .remove-link-task {
    margin-left: 10px;
}

.remove-link-task:hover span {
    color: #000;
}

.related-task {
    display: block;
    padding: 5px;
    border: solid 3px lightslategray;
    width: max-content;
    border-radius: 7px;
    color: #000;
}

.related-task:hover {
    opacity: 0.8;
    cursor: pointer;
}

.linked-task, .linked-task:hover {
    color: #000;
}

.related-task:not(:first-child) {
    margin-top: 6px;
}

.task-action-buttons button:not(:first-child) {
    margin-left: 7px;
}

.edit-task-title {
    width: max-content;
    margin: 30px auto;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #3aa2f2;
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}

.update-task {
    float: right;
    margin-top: 13px;
}

.comment {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 10px 10px 0;
    width: 924px;
}
.comment p {
    margin-left: 20px;
}
.comment .comment-date {
    float: right;
    margin-right: 7px;
}
.comment .commenter {
    margin-left: 7px;
}
.comment-date, .commenter {
    color: #727272;
}