#task-page {
    background-color: #fff;
}

#task-page .ant-layout-sider {
    display: flex;
}
#task-content {
    width: 70%;
    margin-left: 220px;
}

#tasks-drawer-button {
    background-color: #e57200;
    color: #fff;
}