.ant-layout-header {
    background: #3aa2f2;
    display: flex;
    align-items: center;
}

.ant-layout-header:last-child {
    margin-left: auto;
}

.ant-breadcrumb {
    width: max-content;
}

.create-modal-button:not(:last-child) {
    margin-right: 15px;
}
.create-modal-button:hover {
    background-color: #e57200;
}
.create-modal-button:hover > span {
    color: #fff;
}

img {
    max-height: 100%;
}
#avatar {
    border-radius: 50%;
    margin-right: 5px;
}
.title {
    background-color: #fff;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    padding: 0 50px;
    margin: 0 20px;
}
.title a {
    color: #000;
    position: relative;
    bottom: 9px;
    font-size: 20px;
}

#user-display {
    margin-left: auto;
}

#username {
    border-radius: 10px;
}
#username span {
    bottom: 6px;
    position: relative;
}
#username:hover {
    color: #000;
}

.user-dropdown {
    background-color: #fff;
}

.user-dropdown:hover {
    cursor: pointer;
}