.task-icon {
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 7px;
    vertical-align: bottom;
}

.task-type__task {
    background-color: #55a1fe;
}
.task-type__bug {
    background-color: #e00;
}
.task-type__bug svg {
    width: 20px;
    height: 20px;
}
.task-type__epic {
    background-color: #be00f8;
}
.task-type__investigation {
    background-color: #00f86c;
}