#container {
  width: 75%;
  margin: 30px auto;
  padding: 2%;
  border: solid 3px black;
  border-radius: 10px;
}

.ant-card {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 25px;
}

h1 {
  text-align: center;
  background-color: white;
  width: max-content;
  margin: 30px auto;
  padding: 10px 50px;
  border-radius: 10px;
}

#create-task {
  left: 80%;
}

#project-controls {
  margin-left: 142px;
  margin-bottom: 20px;
}
#project-controls :not(:last-child) {
  margin-right: 20px;
}

.ant-list-item {
  cursor: pointer;
}
.ant-list-item:hover {
  background-color: lightslategray;
  color: white;
}